<div class="sidebar-admin">
  <ul class="list-item">
    <li>Quản trị user
      <ul>
        <li><a href="/user"><i class="fa fa-angle-right" aria-hidden="true"></i>Quản lý user</a></li>
      </ul>
    </li>
    <li>Banner
      <ul>
        <li><a href="/slide"><i class="fa fa-angle-right" aria-hidden="true"></i>Slide Trang Chủ</a></li>
        <li><a href="/bannerfix"><i class="fa fa-angle-right" aria-hidden="true"></i>Banner Fix</a></li>
      </ul>
    </li>
    <li>Máy Tính
      <ul>
        <li><a href="/laptop"><i class="fa fa-angle-right" aria-hidden="true"></i>Laptop</a></li>
        <li><a href="/nsxlaptop"><i class="fa fa-angle-right" aria-hidden="true"></i>NSX Laptop</a></li>
        <li><a href="/phanloai"><i class="fa fa-angle-right" aria-hidden="true"></i>Phân Loại sản phẩm</a></li>
        <li><a href="/nhucau"><i class="fa fa-angle-right" aria-hidden="true"></i>Nhu Cầu</a></li>
        <li><a href="/posts"><i class="fa fa-angle-right" aria-hidden="true"></i>Tin tức</a></li>
        <li><a href="/desktop"><i class="fa fa-angle-right" aria-hidden="true"></i>Desktop</a></li>
        <li><a href="/phukien"><i class="fa fa-angle-right" aria-hidden="true"></i>Phụ Kiện</a></li>
      </ul>
    </li>
    <li>Photocopy & Máy In
      <ul>
        <li><a href="/may-photocopy"><i class="fa fa-angle-right" aria-hidden="true"></i>Máy Photocopy</a></li>
        <li><a href="/cho-thue-may-photocopy-fuji-xerox"><i class="fa fa-angle-right" aria-hidden="true"></i>Dịch vụ cho thuê máy photocopy</a></li>
        <li><a href="/may-in"><i class="fa fa-angle-right" aria-hidden="true"></i>Máy In</a></li>

      </ul>
    </li>
    <li>Camera
      <ul>
        <li><a href="/camera-quan-sat-trong-nha"><i class="fa fa-angle-right" aria-hidden="true"></i>Camera Trong Nhà</a></li>
        <li><a href="/camera-quan-sat-ngoai-troi"><i class="fa fa-angle-right" aria-hidden="true"></i>Camera Ngoài Trời</a></li>
        <li><a href="/camera-ip"><i class="fa fa-angle-right" aria-hidden="true"></i>Camera IP</a></li>
        <li><a href="/dau-ghi-hinh"><i class="fa fa-angle-right" aria-hidden="true"></i>Đầu Ghi Hình</a></li>
      </ul>
    </li>
    <li>Thiết bị sức khỏe
      <ul>
        <li><a href="/ghe-massage-moi"><i class="fa fa-angle-right" aria-hidden="true"></i>Ghế massage Mới</a></li>
        <li><a href="/ghe-massage-cu"><i class="fa fa-angle-right" aria-hidden="true"></i>Ghế massage Cũ</a></li>
        <li><a href="/may-loc-khong-khi"><i class="fa fa-angle-right" aria-hidden="true"></i>Máy Lọc Không Khí</a></li>
        <li><a href="/may-hut-am"><i class="fa fa-angle-right" aria-hidden="true"></i>Máy hút ẩm</a></li>
      </ul>
    </li>
    <li><a href="/bach-hoa-online">Bách hóa online</a></li>
    </li>
  </ul>
</div>
